@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background:linear-gradient(175deg,rgba(22, 24, 34, 1) 0%,rgba(22, 24, 34, 1) 20%,rgba(38, 41, 58, 1) 60%);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
